{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="content">   
    <h1><i class="fa fa-lock" aria-hidden="true"></i> Admin page</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Task</th>
            <th><label>Added</label></th>
            <th><label>Owner</label></th>
            <th><label>Author</label></th>
            <th><label>Status</label></th>
            <th><label>Finished</label></th>
            <th><label>Actions</label></th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td> <i class="fa fa-tasks" style="color: gray;"></i> <a href="{{ url_for('view_task', task_id=task.id) }}" target="_blank">{{ task.content }}</a></td>
                <td><i class="fa fa-calendar" style="color: gray;"></i> {{ task.date_created.date() }}</td>
                <td>
                    <form action="{{ url_for('update_owner', task_id=task.id) }}" method="POST">
                        {% if task.owner is not none and '@' in task.owner and '.' in task.owner %}
                        <i class="fa fa-user-circle" style="color: rgb(77, 77, 216);"></i> <a href="mailto:{{ task.owner }}">{{ task.owner }}</a>
                        {% else %}
                        <i class="fa fa-user-circle" style="color: gray;"></i> {{ task.owner }}
                        {% endif %}
                      <input type="text" name="new_owner" placeholder="New Owner" value="{{ task.new_owner }}" class="owner_input">
                      <input type="submit" style="display: none;"> <!-- Hidden submit button -->
                    </form>
                  </td>
                <td>
                    {% if task.author is not none and '@' in task.author and '.' in task.author %}
                    <i class="fa fa-user-circle" style="color: rgb(77, 77, 216);"></i><a href="mailto:{{ task.owner }}">{{ task.author }}</a>
                    {% else %}
                    <i class="fa fa-user-circle" style="color: gray;"></i> {{ task.author }}
                    {% endif %}
                </td>
                <td>{{ task.status }}
                    {% if task.status == 'Completed' %}
                        <i class="fa fa-check-circle" style="color: green;"></i>
                    {% elif task.status == 'In Progress' %}
                        <i class="fa fa-spinner" style="color: orange;"></i>
                    {% elif task.status == 'New' %}
                        <i class="fa fa-plus" style="color: blue;"></i>
                    {% endif %}
                </td>
                <td>{% if task.finished is not none %}
                    <i class="fa fa-calendar" style="color: gray;"></i> {{ task.finished.strftime('%Y-%m-%d') }}
                    {% else %}
                        Not finished yet
                    {% endif %}</td>
                <td class="actions">
                    <form action="{{ url_for('update_task', task_id=task.id) }}" method="POST">
                        <select name="status">
                            <option value="New" {% if task.status == 'New' %} selected {% endif %}>New</option>
                            <option value="In Progress" {% if task.status == 'In Progress' %} selected {% endif %}>In Progress</option>
                            <option value="Completed" {% if task.status == 'Completed' %} selected {% endif %}>Completed</option>
                        </select>
                        <button type="submit" class="update-button">Update status</button>
                    </form>
                    <form action="/delete/{{task.id}}" method="POST">
                        <button type="submit" class="delete-button">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>

    <form action="index" method="POST">
        <input type="text" name="owner" id="owner" placeholder="Owner" class="small">
        <input type="text" name="author" id="author" placeholder="Author" class="small">
        <input type="submit" value="Add Task">
        <textarea type="text" name="content" id="content" placeholder="Task content" class="large"></textarea>
    </form>
</div>
{% endblock %}