{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="project_details">
    <h1>User Project details</h1>
    <p>{{ project.content }}</p>


    <table>
        <tr>
            <th>ID</th>
            <th>Task</th>
            <th><label>Added</label></th>
            <th><label>Task owner</label></th>
            <th><label>Task author</label></th>
            <th><label>Status</label></th>
            <th><label>Finished</label></th>
            <th><label>Actions</label></th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td> <i class="fa fa-tasks" style="color: gray;"></i> <a href="{{ url_for('main_view_task', task_id=task.id) }}" target="_blank">{{ task.content }}</a></td>
                <td><i class="fa fa-calendar" style="color: gray;"></i> {{ task.date_created.date() }}</td>
                <td>
                        {% if task.owner is not none and '@' in task.owner and '.' in task.owner %}
                        <i class="fa fa-user-circle" style="color: rgb(77, 77, 216);"></i> <a href="mailto:{{ task.owner }}">{{ task.owner }}</a>
                        {% else %}
                        <i class="fa fa-user-circle" style="color: gray;"></i> {{ task.owner }}
                        {% endif %}
                  </td>
                <td>
                    {% if task.author is not none and '@' in task.author and '.' in task.author %}
                    <i class="fa fa-user-circle" style="color: rgb(77, 77, 216);"></i><a href="mailto:{{ task.owner }}">{{ task.author }}</a>
                    {% else %}
                    <i class="fa fa-user-circle" style="color: gray;"></i> {{ task.author }}
                    {% endif %}
                </td>
                <td>{{ task.status }}
                    {% if task.status == 'Completed' %}
                        <i class="fa fa-check-circle" style="color: green;"></i>
                    {% elif task.status == 'In Progress' %}
                        <i class="fa fa-spinner" style="color: orange;"></i>
                    {% elif task.status == 'New' %}
                        <i class="fa fa-plus" style="color: blue;"></i>
                    {% endif %}
                </td>
                <td>{% if task.finished is not none %}
                    <i class="fa fa-calendar" style="color: gray;"></i> {{ task.finished.strftime('%Y-%m-%d') }}
                    {% else %}
                        Not finished yet
                    {% endif %}</td>
                <td class="actions">
                    <form action="{{ url_for('main_update_task', task_id=task.id)}}" method="POST">
                        <select name="status">
                            <option value="New" {% if task.status == 'New' %} selected {% endif %}>New</option>
                            <option value="In Progress" {% if task.status == 'In Progress' %} selected {% endif %}>In Progress</option>
                            <option value="Completed" {% if task.status == 'Completed' %} selected {% endif %}>Completed</option>
                        </select>
                        <button type="submit" class="update-button">Update status</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>

    <div class="existing-comments">
        <h2>Comments ({{ project.comment_count }})</h2>
        {% for comment in project.comments %}
            <div class="comment">
                <p class="comment-author">
                    {% if comment.author is not none and '@' in comment.author and '.' in comment.author %}
                        <i class="fa fa-user-circle" style="color: rgb(77, 77, 216);"></i><a href="mailto:{{ comment.author }}">{{ comment.author }}</a>
                    {% else %}
                        <i class="fa fa-user-circle" style="color: gray;"></i> {{ comment.author }}
                    {% endif %}
                </p>
                <p class="comment-content">{{ comment.content }}</p>
                {% if comment.attachment_path %}
                    <p class="comment-attachment">
                        Attachment: <a href="{{ url_for('download_attachment', filename=comment.attachment_path) }}" target="_blank">{{ comment.attachment_path.replace('Attachments\\', '') }}</a>
                    </p>
                {% endif %}
                <p class="comment-date">{{ comment.date_created.strftime('%Y-%m-%d %H:%M:%S') }}</p>
            </div>
        {% endfor %}
    </div>

<form action="{{ url_for('main_add_project_comment', project_id=project.id) }}" method="POST" enctype="multipart/form-data" class="upload-form">
    <div>
        <label for="comment_content">Add a Comment:</label>
    </div>
    <input type="text" name="comment-author" id="comment-author" placeholder="Author" class="small input">
    <textarea name="comment_content" id="comment_content" class="large text-editor" placeholder="Write your comment here"></textarea>
    <input type="file" name="attachment" id="attachment" class="custom-file-input">
    <input type="submit" value="Submit Comment">
</form>
</div>

{% endblock %}